@import '~@2600hz/sds-core/sds-tools';
@import 'tokens';

.sds_Dropdown {
  width: 256px;
  display: inline-flex;
  flex-direction: column;
  flex-shrink: 1;
  .sds_Label {
    margin-bottom: sds-spc(4);
  }
  .sds_Label:hover + .sds_Dropdown_Box {
    background: var(--sds_dropdown_hover_background);
    border-color: var(--sds_dropdown_hover_border_color);
    border-width: var(--sds_dropdown_hover_border_width);
  }
  .sds_Dropdown_Box {
    width: 100%;
    position: relative;
    .sds_Dropdown_Select {
      @include sds-flex(space-between, center);
      @include sds-typeset(body);
      cursor: pointer;
      user-select: none;
      width: 100%;
      height: 36px;
      padding: sds-spc(8) sds-spc(12);
      background: var(--sds_dropdown_background);
      border-radius: var(--sds_dropdown_border_radius);
      border-width: var(--sds_dropdown_border_width);
      border-color: var(--sds_dropdown_border_color);
      color: var(--sds_dropdown_text);
      border-style: solid;
      outline: none;
      transition: sds-transition(standard, interactive);
      &:hover {
        background: var(--sds_dropdown_hover_background);
        border-color: var(--sds_dropdown_hover_border_color);
        border-width: var(--sds_dropdown_hover_border_width);
      }
      &:focus {
        background: var(--sds_dropdown_focus_background);
        border-color: var(--sds_dropdown_focus_border_color);
        box-shadow: inset 0 0 0
          calc(var(--sds_dropdown_focus_border_width) - 1px)
          var(--sds_dropdown_focus_border_color);
      }
      .sds_Dropdown_Select_IconBox {
        @include sds-flex(center, center);
        padding-left: sds-spc(12);
        .sds_Telicon {
          color: var(--sds_dropdown_arrow);
          transition: sds-transition(standard, interactive);
        }
      }
    }
    .sds_Dropdown_Select_Empty {
      @include sds-flex(flex-end, center);
    }
    .sds_Menu {
      position: absolute;
    }
  }
  .sds_Dropdown_Box.sds_Dropdown_Box_Bottom-Left {
    .sds_Menu {
      top: calc(100% + 4px);
      left: 0;
    }
  }
  .sds_Dropdown_Box.sds_Dropdown_Box_Bottom-Right {
    .sds_Menu {
      top: calc(100% + 4px);
      right: 0;
    }
  }
  .sds_Dropdown_Box.sds_Dropdown_Box_Top-Right {
    .sds_Menu {
      bottom: calc(100% + 4px);
      right: 0;
    }
  }
  .sds_Dropdown_Box.sds_Dropdown_Box_Top-Left {
    .sds_Menu {
      bottom: calc(100% + 4px);
      left: 0;
    }
  }

  .sds_Dropdown_HelpText {
    @include sds-typeset(mouse);
    color: var(--sds_dropdown_helptext);
    opacity: 1;
    padding-left: 2px;
    transition: sds-transition(standard, interactive);
  }
  .sds_Dropdown_HelpText.sds_Dropdown_HelpText_Hidden {
    opacity: 1;
  }
}

.sds_Dropdown.sds_Dropdown_Error {
  .sds_Dropdown_Box {
    .sds_Dropdown_Select {
      background: var(--sds_dropdown_error_background);
      border-color: var(--sds_dropdown_error_border_color);
      box-shadow: inset 0 0 0 calc(var(--sds_dropdown_error_border_width) - 1px)
        var(--sds_dropdown_error_border_color);
      color: var(--sds_dropdown_error_text);
      div {
        .sds_Telicon {
          &:first-child {
            color: var(--sds_dropdown_error_icon);
            margin-right: sds-spc(4);
          }
        }
      }
    }
  }
  .sds_Dropdown_HelpText {
    color: var(--sds_dropdown_error_helptext);
  }
}

.sds_Dropdown.sds_Dropdown_Disabled {
  .sds_Dropdown_Box {
    cursor: not-allowed;
    .sds_Dropdown_Select {
      cursor: not-allowed;
      opacity: var(--sds_dropdown_disabled_opacity);
      background: var(--sds_dropdown_disabled_background);
      border-color: var(--sds_dropdown_disabled_border_color);
      box-shadow: inset 0 0 0
        calc(var(--sds_dropdown_disabled_border_width) - 1px)
        var(--sds_dropdown_disabled_border_color);
      color: var(--sds_dropdown_disabled_text);
    }
  }
  .sds_Dropdown_HelpText {
    cursor: not-allowed;
    opacity: var(--sds_dropdown_disabled_opacity);
    color: var(--sds_dropdown_disabled_helptext);
  }
}
