@import '~@2600hz/sds-core/sds-tools';
@import 'tokens';

.sds_Menu {
  @include sds-shadow(2);
  @include sds-index(app-nav);
  width: 256px;
  max-height: 336px;
  padding: sds-spc(8) 0;
  border-radius: sds-spc(8);
  background: var(--sds_menu_background);
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  transition: opacity sds-transition(standard, interactive);
  .sds_Menu_Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    .sds_MenuOption {
      width: 100%;
    }
    .sds_Option_NoResult {
      width: 100%;
      cursor: auto;
      user-select: none;
      @include sds-typeset(body);
      padding: sds-spc(8) sds-spc(12);
      min-height: 40px;
      &:hover {
        background: var(--sds_menu_background);
      }
    }
  }
  .sds_Menu_SearchBox {
    width: 100%;
    position: -webkit-sticky;
    padding: sds-spc(8) sds-spc(12);
    position: sticky;
    margin-top: -8px;
    top: -8px;
    z-index: 2;
    background: var(--sds_menu_background);
    .sds_Search {
      width: 100%;
    }
  }
}

.sds_Menu.sds_Menu_Hidden {
  opacity: 0;
  pointer-events: none;
}
