@import '~@2600hz/sds-core/sds-tools';

.sds_Wizard_FloatingMenu{
  @include sds-flex(flex-start, center);
  display: none !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  z-index: 2;
  background: rgba(244, 244, 245, 0.64);
  backdrop-filter: blur(1.5px);
  transition: sds-transition(standard, interactive);
  .sds_Wizard_FloatingMenu_Sidebar{
    width: 100%;
    max-width: 256px;
    height: 100%;
    background: var(--sds_theme_background_high, sds-color(white));
    border-right: 1px solid var(--sds_theme_border, sds-color(grey, 30));
    position: absolute;
    top: 0;
    left: 0;
    transition: sds-transition(standard, enviromental);
    @include sds-shadow(2);
    .sds_Wizard_FloatingMenu_Header{
      height: 56px;
      border-bottom: 1px solid var(--sds_theme_border, sds-color(grey, 30));
      @include sds-flex(flex-start, center);
      padding: 0 sds-spc(8);
      .sds_Button{
        margin-right: sds-spc(8);
      }
    }
    .sds_Wizard_FloatingMenu_Content{
      padding: sds-spc(16) sds-spc(8);
    }
  }
}

.sds_Wizard_FloatingMenu_Hidden{
  pointer-events: none;
  background: rgba(244, 244, 245, 0);
  backdrop-filter: blur(0);
  transition: sds-transition(exit, enviromental);
  .sds_Wizard_FloatingMenu_Sidebar{
    left: -256px;
    transition: sds-transition(exit, interactive);
  }
}

@include sds-screen(sm){
  .sds_Wizard_FloatingMenu{
    display: block !important;
  }
}

body[data-theme='Dark']{
  .sds_Wizard_FloatingMenu{
    background: rgba(37, 37, 40, 0.64);
  }
  .sds_Wizard_FloatingMenu_Hidden{
    background: rgba(37, 37, 40, 0);
    backdrop-filter: blur(0);
  }
}

