@import '~@2600hz/sds-core/sds-tools';

.sds_MiniWizard{
  .sds_Modal_Container{
    width: 100%;
    max-width: calc(656px + 256px);
    overflow: hidden !important;
    .sds_Modal_Container_Body{
      height: inherit;
        @include sds-flex(flex-start, flex-start);
        position: relative;
        .sds_MiniWizard_Menu{
          position: absolute;
          background: var(--sds_theme_background_high, sds-color(white));
          width: 100%;
          max-width: 256px;
          height: inherit;
          border-right: 1px solid var(--sds_theme_border, sds-color(grey, 30));
          padding: sds-spc(16) sds-spc(8);
          z-index: 2;
          .sds_MiniWizard_Menu_Overlay{
            display: none;
          }
        }
        .sds_MiniWizard_Content{
          height: inherit;
          width: calc(100% - 256px);
          margin-left: 256px;
          .sds_MiniWizard_Content_Header{
            display: none;
            height: 56px;
            border-bottom: 1px solid var(--sds-Theme_border, sds-color(grey));
            padding: 0 sds-spc(24);
            .sds_Button{
              margin-right: sds-spc(12);
            }
            .sds_Text{
              @include sds-typeset(body-lg, semi);
            }
          }
          .sds_MiniWizard_Content_Body{
            height: calc(100% - 56px);
            padding: sds-spc(16) sds-spc(24);
            padding-right: sds-spc(16);
            padding-bottom: sds-spc(32);
            .sds_Wizard_Content_Body_ConfirmationIntro{
              margin-bottom: sds-spc(40);
              .sds_Wizard_Content_Body_ConfirmationDescription{
                margin-top: sds-spc(16);
              }
            }
            .sds_Wizard_Content_Body_ConfirmationStep{
              margin-bottom: sds-spc(40);
              .sds_Wizard_Content_Body_ConfirmationStep_TitleBox{
                width: 100%;
                border-bottom: 1px solid var(--sds_theme_border, sds-color(grey, 30));
                @include sds-flex(flex-start, center);
                margin-bottom: sds-spc(16);
                .sds_Text{
                  @include sds-typeset(body-lg, semi);
                  margin-right: sds-spc(8);
                }
              }
            }
          }
        }
    }
  }
}

.sds_MiniWizard_Commland{
  height: calc(100vh - 112px);
  top: 56px;
}

//MEDIA QUERIES
@include sds-screen(sm){
  .sds_MiniWizard{
    .sds_Modal_Container{
      position: relative;
      .sds_Modal_Container_Body{
        width: 100%;
        .sds_MiniWizard_Menu{
          height: calc(100% - 109px);
          left: 0;
          top: 56px;
          @include sds-shadow(2);
          transition: sds-transition(standard, enviromental);
          .sds_MiniWizard_Menu_Overlay{
            display: block;
            position: absolute;
            top: 0;
            left: calc(100% + 0.5px);
            width: calc(100vw);
            height: 100%;
            background: rgba(0, 0, 0, .45);
            backdrop-filter: blur(2px);
            transition: sds-transition(standard, enviromental);
          }
        }
        .sds_MiniWizard_Menu_Hidden{
          left: -256px;
          box-shadow: none;
          transition: sds-transition(exit, interactive);
          .sds_MiniWizard_Menu_Overlay{
            opacity: 0;
            pointer-events: none;
            transition: sds-transition(exit, enviromental);
          }
        }
        .sds_MiniWizard_Content{
          width: 100%;
          margin-left: 0;
          .sds_MiniWizard_Content_Header{
            @include sds-flex(flex-start, center);
            padding: 0 sds-spc(16);
          }
          .sds_MiniWizard_Content_Body{
            padding: sds-spc(16);
            padding-bottom: sds-spc(32);
          }
        }
      }
      .sds_Modal_Container_Footer{
        .sds_Button{
          margin-bottom: 0;
        }
        .sds_MiniWizard_Content_Footer_Cancel{
          width: auto;
          margin-left: 0;
        }
        .sds_MiniWizard_Content_Footer_Previous{
          width: 100%;
          flex-shrink: 1;
          flex-grow: 1;
        }
        .sds_MiniWizard_Content_Footer_Next-Confirm{
          width: 100%;
          flex-shrink: 1;
          flex-grow: 1;
        }
      }
    }
  }
}

@include sds-screen(xs){
  .sds_MiniWizard{
    .sds_Modal_Container{
      .sds_Modal_Container_Footer{
        @include sds-flex(center, center);
        .sds_Button{
          margin-left: sds-spc(8);
        }
        .sds_MiniWizard_Content_Footer_Previous{
          width: auto;
        }
      }
    }
  }
}