@import '~@2600hz/sds-core/sds-tools';

.sds_MenuOption {
  --sds_menu_option_background: var(
    --sds_theme_background_high,
    #{sds-color(white)}
  );
  --sds_menu_option_icon: var(--sds_theme_icon, #{sds-color(grey, 70)});
  --sds_menu_option_text: var(--sds_theme_text, #{sds-color(grey, 100)});
  --sds_menu_option_description: var(
    --sds_theme_text_muted,
    #{sds-color(grey, 70)}
  );

  --sds_menu_option_hover_background: var(
    --sds_theme_background,
    #{sds-color(grey, 05)}
  );
  --sds_menu_option_hover_icon: var(
    --sds_theme_icon_dark,
    #{sds-color(grey, 100)}
  );
  --sds_menu_option_hover_text: var(--sds_menu_option_text);
  --sds_menu_option_hover_description: var(
    --sds_theme_text,
    #{sds-color(grey, 100)}
  );

  --sds_menu_option_disabled_opacity: var(--sds_theme_disabled_opacity, 48%);
}

body[data-theme='Dark'] {
  .sds_MenuOption {
    --sds_menu_option_icon: var(--sds_theme_text, #{sds-color(white)});
    --sds_menu_option_hover_icon: var(--sds_theme_text, #{sds-color(white)});
  }
}
